/*********************
KEYFRAMES
*********************/

/*********************
// Déclaration des variables SCSS
/*********************/

$animation-duration-courte: 1s;
$animation-duration-medium: 2s;
$animation-delay: 1.5s;


/*********************
/* Animation modale */
/*********************/

@-webkit-keyframes animateModale {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateModale {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

/*********************
/* Animation éléments pages */
/*********************/
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*********************
/* Animation menu */
/*********************/
@-webkit-keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/*********************
/* Animation memnu */
/*********************/
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes expandHeight {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: calc(100vh - 60px);
        opacity: 1;
    }
}




