.container-footer {
    padding: 7px 146px 30px 146px;
    width:100%;
    -webkit-animation: fade-in $animation-duration-medium ease-in-out;
        animation: fade-in $animation-duration-medium ease-in-out;

    .NM-footer {
        display: flex;
        justify-content: center;
        position:relative;
        border-top: 1px solid black;
        height:40px;
        padding-top:24px;
        max-width:1440px;
        
        #footer-menu {
            display: flex;
            margin: 0;
            padding: 0;
            gap: 85px;

            li {
                list-style: none;
                display: inline;
                font-family: $second-font;

                a {
                    text-decoration: none;
                    margin-bottom: 25px;
                    
                    &:hover {
                        font-weight: bold;
                    }
                }
            }

        }

    }
}
    
   

