.NM-footer {
    display: flex;
    justify-content: center;
    gap: 85px;

    #footer-menu {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline;
            font-family: $second-font;

            a {
                text-decoration: none;
                margin-bottom: 25px;
            }
        }

        #menu-item-51 {
            margin-right: 85px;
        }
    }


    span {
        font-family: $second-font;
        display: flex;
        margin-bottom: 25px;
    }
}

