.main-accueil {

    .banner {
        background-image: url($background-image-url);
        max-width: 1440px;
        height: 960px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-animation: fade-in $animation-duration-medium ease-in-out;
            animation: fade-in $animation-duration-medium ease-in-out;

        #stroke {
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #FFF;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }
    }

    .container-form {
        max-width: 1440px;
        display: block;
        margin: 0 auto;
        padding: 80px 146px 39px 146px;
        -webkit-animation: fade-in $animation-duration-medium ease-in-out;
            animation: fade-in $animation-duration-medium ease-in-out;

        .form-catalogue {
            display: flex;
            font-family: $second-font;
            gap: 20px;

            .col-form {
                width: 50%;
                display: flex;
            
                .col-select-form {
                    position: relative;
                    margin: 0;

                    select {
                        width: 260px;
                        height: 43px;
                        border-radius: 8px;
                        border: 1.3px solid #B8BBC2;
                        padding-left: 10px;
                
                        option {
                            font-family: $second-font;
                        }

                        #option-tout {
                            display: none;
                        }
                    }

                    .taxonomy-label {
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                        z-index: 1;
                        background-color: white;
                        width:calc(100% - 34px);
                    }
                }
            }

            .col-form-1 {
                justify-content: space-between;
            }

            .col-2-form {
                justify-content: flex-end;           
            }
        }
    }

    .catalogue-photos {
        padding: 0px 146px 40px 146px;
        margin: 0 auto;
        display: flex;
        max-width: 1440px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        -webkit-animation: fade-in $animation-duration-medium ease-in-out;
            animation: fade-in $animation-duration-medium ease-in-out;

        .col-img-catalogue {
            width: 50%;
            width: 560px;
            height: 560px;
            position: relative;
            margin:0;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .display-front-hover {
                position: absolute;
                background-color: black;
                opacity: 0;
                top: 0;
                left: 0;
                width: 560px;
                height: 560px;
                transition: opacity 0.7s;    
            }

            &:hover .display-front-hover {
                opacity: 0.7;
            }

            &:hover .reference,
            &:hover .categorie,
            &:hover .fa-eye,
            &:hover .fa-expand {
                opacity: 1;
            }

            .reference, .categorie {
                position: absolute;
                bottom: 10px;
                color: white;
                font-family: $main_font;
                opacity: 0;
                transition: opacity 0.7s;
            }

            .reference {
                left: 16px;
            }

            .categorie {
                right: 16px;
            }

            .fa-eye{
                color:white;
                position: absolute;
                opacity: 0;
                top: calc(50% - 25px);
                left: calc(50% - 25px);
                font-size: 44px;
                transition: all 0.5s;

                &:hover {
                    font-size: 54px;
                    top: calc(50% - 30px);
                    left: calc(50% - 30px);
                }
            }        
        }
    }

    .load-lightbox-photo {
        width: 30px;
        height: 30px;
        border: none;
        top: 10px;
        right: 16px;
        position: absolute;
        font-size: 24px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            font-size: 34px;
        }
    }
    
        .fa-expand {
            top: 4px;
            right: 5px;
            color: white;
            position: absolute;
            opacity: 0;
            transition: all 0.7s;       
        }

    .load-catalogue-photos {
        margin:0 auto 60px;
        display: block;
        width: 272px;
        height: 50px;
        text-align: center;
        background-color: $second-grey;
        border-radius: 2px;
        font-family: $main-font;
        border:none;
        -webkit-animation: fade-in $animation-duration-medium ease-in-out;
            animation: fade-in $animation-duration-medium ease-in-out;  
            
        &:hover {
            background-color: $main-black;
            color: white;
            transition: all 0.5s ease-out;
            font-size: 16px;
        }
    }

    .no-photo-message-1, .no-photo-message-2 {
        font-family: $second-font;
        text-align: center;
        margin-bottom:30px;
    }

    .no-photo-message-2 {
        margin-bottom: 60px;
    }
}