#NM-header {
    color:$main-black;
    padding-top:25px;
    -webkit-animation: fade-in $animation-duration-medium ease-in-out;
    animation: fade-in $animation-duration-medium ease-in-out;
    min-height:80px;
    
    #NM-nav-header {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        
        #logo-header {
            width: 20%;
            display: flex;
            margin-left:146px;
            -webkit-animation: blink $animation-duration-courte $animation-delay both;
                animation: blink $animation-duration-courte $animation-delay both;
            padding: 12px 0 12px 0;

            img {
                width: 216px;
                height: 14px;
            }
        }

        .menu_button {
            appearance: none;
            background: none;
            border: none;
            outline: none;
            width: 28px;
            height: 19px;
            transform: translate(-50%, -50%);
            transition: all .4s;
            display: none; 

            .menu_button_line {
                position: absolute;
                left: 0;
                width: 28px;
                height: 3px;
                background: $main-black;
                border-radius: 0.2rem;

                &.top {
                    top: 0;
                }

                &.mid {
                    top: 0.5rem;
                }

                &.botm {
                    bottom: 0;
                }
            }

            &[aria-expanded="true"] {
    
                .menu_button_line.top {
                    transform: rotate(-45deg);
                }

                .menu_button_line.mid {
                    opacity: 0;
                }

                .menu_button_line.botm {
                    transform: translateY(-1rem) rotate(45deg);
                }
            }
        }

        #header-menu {
            gap: 45px;
            display: flex; 
            justify-content: end;
            margin:0 146px 0 0;
     
            .menu-item {
                list-style: none;
                text-transform: uppercase;
                margin:0;
                font-family: $main-font;
                position: relative;
                padding: 10px 0 0 14px;

                    &::before,
                    &::after {
                        content: '';
                        box-sizing: border-box;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 50px;
                        transform-origin: top left;
                    }

                    &::before {
                        border-top: 0.2em solid $main-red;
                        transform: scale3d(0, 1, 1);
                    }

                    &::after {
                        border-left: 0.2em solid $main-red;
                        transform: scale3d(1, 0, 1);
                    }

                    &:hover::before,
                    &:hover::after {
                        transform: scale3d(1, 1, 1);
                        transition: transform 600ms;
                    }
                   

                a {
                    text-decoration: none;                       
                }
            }

            [aria-current]:not([aria-current="false"]) {
                font-weight: 700;
            }
        }
    }  
}