/* The Modal */
.modal {
    display: none;
    margin:0 auto;
    width: 600px;
    overflow: scroll;
    position: fixed;
    top:117px;
    z-index:3;

/* Modal Header */
    .modal-header {
        padding-top: 30px;
        position: relative;

        .background-contact {
            background-image: url("../assets/header/contact.png");
            background-repeat: no-repeat;
            width: 100%;
            height: 106px;

            h2 {
                display: none;
            }
        }
    }

    /* Modal Body */
    .modal-body {
        padding: 2px 16px;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        border: 5px solid #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation : animateModale $animation-duration-courte;
        animation: animateModale $animation-duration-courte;;
        padding-bottom: 35px;


        #wpcf7-f54-o1 {
            width: 263px;
            margin: 0 auto;

            .wpcf7-form {
                width: 263px;
                padding-top: 46px;

                label {
                    text-transform: uppercase;
                }

                p,
                label,
                input,
                textarea {
                    width: 263px;
                }

                p {
                    margin-bottom: 0;
                }

                input,
                textarea {
                    border: 1px solid #B8BBC2;
                    border-radius: 8px;
                    margin-bottom: 24px;
                    padding : 0 6px;
                }

                input {
                    height: 40px;
                }

                .wpcf7-submit {
                    border-radius: 2px;
                    background: #D8D8D8;
                    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
                    text-align: center;
                    border: none;
                    height: 50px;
                    margin-bottom:0;
                    font-family: $main-font;

                    &:hover {
                        background-color: $main-black;
                        color: white;
                        transition: all 0.5s ease-out;
                        font-size:16px;
                    }
                }

                .wpcf7-spinner {
                    height: 0;

                    &:before {
                        height: 0;
                    }
                }

                .wpcf7-response-output {
                    margin: 0;
                    color: $main-red;
                    border: none;
                    font-family: $second-font;
                    font-size: 14px;
                    padding: 0;
                }

                .wpcf7-not-valid-tip {
                    color: $main-red;
                    margin-top: -16px;
                    margin-bottom: 26px;
                }
            }
        }
    }
    
}


