/* The Modal (background) */
.modal {
    display: none;
    margin:10px auto;
    width: 600px;
    height: 770px;
    overflow: auto;
    position: absolute;
    bottom:0;

}

/* Modal Header */
.modal-header {
    padding-top: 18px;

    .background-contact {
        background-image: url("../assets/header/contact.png");
        background-repeat: no-repeat;
        width:100%;
        height:106px;

        h2 {
            display: none;
        }
    }
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
