/***********************************/
/***********************************/
/* FORMAT 1024px MAX
/***********************************/
/***********************************/
 @media screen and (max-width: 1024px) {

    /*****************/
    /* COMMUN */
    /*****************/

    h1 {
        line-height:1;
    }

    h2 {
        font-size: 52px;
    }

    /*****************/
    /* FRONT-PAGE */
    /*****************/

    .main-accueil {
        .container-form {

            .form-catalogue {
                    display: flex;
                    font-family: $second-font;
                    gap: 20px;
            
                    .col-form {
            
                        .col-select-form {
            
                            .nice-select {
                                width: 170px;
                            }
                        }
                    }
                }
        }

        .catalogue-photos {

            .col-img-catalogue {
                width: 355px;
                height: 355px;

                .display-front-hover {
                    width: 355px;
                    height: 355px;
                }    
            }
        }
    }

    /*****************/
    /* lightbox */
    /*****************/
    .lightbox {

        .container-lightbox .container-elements .lightbox-close {
            top: -25px;
            right: -22%;
        }
    }

    /*****************/
    /* modale */
    /*****************/
    .modal {
        height:80vh;
    }
 }


/***********************************/
/***********************************/
/* FORMAT TABLETTE 992px MAX
/***********************************/
/***********************************/
 @media screen and (max-width: 992px) {

    /*****************/
    /* HEADER */
    /*****************/
    #NM-header {

        #NM-nav-header {
            padding: 0 80px;

            #logo-header {
                width: 30%;
                margin: 0px;
            }

            #header-menu {
                gap: 30px;
                margin: 0;
            }
        }        
    }


    /*****************/
    /* FRONT-PAGE */
    /*****************/
    .main-accueil {
    
        #stroke {
            text-align:center;
            }
 

        .container-form { 
            padding: 80px 80px 39px 80px;

        }

        .catalogue-photos {
            padding: 0px 80px 40px 80px;
           
            .col-img-catalogue {
                width: 405px;
                height: 405px;
                         
                .display-front-hover {
                    width: 405px;
                    height: 405px;
                }
            }
        }

        .load-catalogue-photos {
            margin-top: 0;
        }
    }

    /*****************/
    /* SINGLE-PHOTO */
    /*****************/
    .single-photo-main {
        padding: 38px 80px 0 80px;

        .row-infos-photo-contact .colonne-photo-contact .myBtnContact {
            width:40%;
        }
    }

    .aside-photo-comp {
        padding: 0px 80px 109px 80px;
    }


    /*****************/
    /* INDEX */
    /*****************/
    .page-template-default {

        .main-index {
            padding: 0 80px;
        }
    }

    /*****************/
    /* FOOTER */
    /*****************/

    .container-footer {
        padding: 7px 80px 30px 80px;
    }

 }


/***********************************/
/***********************************/
/* FORMAT 768px MAX
/***********************************/
/***********************************/

 @media screen and (max-width: 768px) {

   
    /*****************/
    /* HEADER */
    /*****************/
    #NM-page.header-sliding #NM-nav-header {
        animation: slideInRight 0.5s ease forwards;
    }

    #NM-page.header-sliding #header-menu {
        animation: expandHeight 0.5s ease forwards;
    }

    #logo-fin-animation {
        width: 216px;
        height: 14px;
        position: absolute;
        top:32px;
        left:40px;
        display: block;
        opacity:0.6;
    }

    #NM-header {
        padding-top:20px;

        #NM-nav-header {
            display: block;
            min-width:100%;  
            padding:0;

            #logo-header {
                width: 20%;
                display: flex;
                margin-left: 40px;
            }

            .menu_button {
                display: block; 
                position:absolute;
                top:40px;
                right:20px;
            }

            #header-menu {
                display: none; 
            }
        }

        #NM-nav-header.toggled #header-menu {
            display: flex; 
            flex-direction: column;
            padding:0;
            justify-content: center;

            background-color: $main-red;
            margin : 20px 0 0 0;
            z-index: 2;
            position:relative;

            li, li a  {
                color: #FFF;
                text-align: center;
                font-size: 44px;
                text-transform: uppercase;
                font-family: $main-font;
            }
        }
    }  

    /*****************/
    /* FRONT-PAGE */
    /*****************/

    .main-accueil {

        .container-form {
            padding: 80px 40px 39px 40px;

            .form-catalogue {
                flex-direction: column;

                .col-form { 
                    flex-direction: column;
                    gap:20px;

                    .col-select-form {
                        width:100%;
                        text-align: center;

                        .nice-select{
                            width:270px;
                        }
                    }
                }
            }
        }

        .catalogue-photos {
            padding: 0px 0px 40px 0px;
            width: 600px;
            justify-content: center;

            .col-img-catalogue {
                width: 600px;
                height: 600px;

                .display-front-hover {          
                    width: 600px;
                    height: 600px;
                }
            }
        }
    }

    /*****************/
    /* LIGHTBOX */
    /*****************/

    .lightbox {
        .container-lightbox .container-elements {
            .lightbox-close {
                top: -40px;
                right: -10%;
            }

            .lightbox-next {
                right:0;
            }

            .lightbox-prev {
                left: 0;
            }
        }                
    }
         
    /*****************/
    /* FOOTER */
    /*****************/
    .container-footer {
    
        .NM-footer {
            padding-top: 0px;

            #footer-menu {
                flex-direction: column;
                align-items: center;
                padding: 43px 0 30px 0;
                gap:30px;
            }
        
            span {
                margin-top: 35px;
            }
        }
    }

    /*****************/
    /* MODALE CONTACT*/
    /*****************/

    .modal {
        width: 286px;
        bottom: 20px;

        /* Modal Header */
        .modal-header {
            padding-top: 30px;
            position: relative;
        }
    
        /* Modal Content */
        .modal-content {
            
            #wpcf7-f54-o1 {
                width: 190px;

                .wpcf7-form {
                    width: 190px;
                    padding-top: 15px;

                    p,
                    label,
                    input,
                    textarea {
                        width: 190px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    input,
                    textarea {
                        margin-bottom: 14px;
                    }
                }
            }
        }
        
    }   
}


 /***********************************/
 /***********************************/
 /* FORMAT PETIT TELEPHONE 390px MAX
 /***********************************/
 /***********************************/
@media screen and (max-width: 390px) {

    /*****************/
    /* HEADER */
    /*****************/
    
    #NM-header {
        min-height: 72px;
        padding-top:10px;

        #NM-nav-header {
                
            .menu_button {
                top: 30px;
                right: 30px;
            }
        }
    }

    /*****************/
    /* FRONT_PAGE*/
    /*****************/

    .main-accueil {
        .container-form .form-catalogue .col-form {
            width: 100%;
        }
        .catalogue-photos {
            max-width: 360px;

            .col-img-catalogue {
                width: 300px;
                height: 300px;

                .display-front-hover {
                    width: 300px;
                    height: 300px; 
                }
            }
        }
    }
        
    /*****************/
    /* LIGHTBOX */
    /*****************/
    .lightbox {
        
        .container-lightbox {
        

            .container-elements {
            
                .lightbox-container-image {
                    width: 300px;
                    height: 300px;

                }        

                .lightbox-close {
                    top: -100px;
                    right: -3%;
                }

                .lightbox-prev,  .lightbox-next {
                    top: -25px;
                }

                .lightbox-prev {
                    left:-10px;
                }
                
                .lightbox-next {
                    right: -10px;
                }
            }
        }
    }
   
    /*****************/
    /* SINGLE-PHOTO */
    /*****************/

    .single-photo-main {
        padding: 20px 0px 0 0px;
        margin: 0 auto;
        min-height: calc(100vh + 72px);

        .row-infos-photo-single {
            flex-direction: column-reverse;
            margin: 0 56px 44px 56px;
            padding: 0 0 40px 0;

            .colonne-infos-photo,
            .colonne-photo {
                width: 100%;
                justify-content: flex-start;
                height: calc(50vh - 72px);
                align-items: stretch;
            }

            .colonne-infos-photo {
                border:none;
            }

        }

        .row-infos-photo-contact {
            margin: 80px 56px 0 56px;

            .colonne-photo-contact {
                flex-direction: column;
                width: 100%;
                justify-content: space-around;
                border-top:1px solid black;
                padding-top: 14px;
                
                p {
                    width: 100%;
                    margin-bottom:14px;
                }

                .myBtnContact {
                    width: 100%;
                    margin-right: 0px;
                    margin-bottom: 24px;
                }
            }

            .photos-navigation {
                display: none;

            }
        }
    }

    .aside-photo-comp {
        margin:100px 29px 0px 29px;
        padding: 0 0 25px 0;

        h3 {
            text-align: center;
            margin: 0 0 20px 0;
        }

        .row-img-similaires {
            flex-direction: column;

            .col-img-similaire {
                width: 300px;
                height:300px;
            }
        }
    }
}

