 /*****************/
 /* TABLETTE
 /*****************/
 @media screen and (max-width: 992px) {
#NM-header {
    padding-top: 50px;

        #NM-nav-header {

            #logo-header {
                margin-left: 80px;
            }
          
            #header-menu {
                margin: 0 80px 0 0;                
            }
        }
    }
 }
 
 
 @media screen and (max-width: 768px) {

/*****************/
/* HEADER */
/*****************/

    #NM-header {
        min-height: 100%;
        
        #NM-nav-header {
            display: block;
            min-height:100%;
            min-width:100%;  

            #logo-header {
                width: 100%;
                display: block;
                margin : 10px 0 0 40px;
            }

            .menu_button {
                display: block; 
                position:absolute;
                top:45px;
                right:40px;
            }

            #header-menu {
                display: none; 
            }
        }

        #NM-nav-header.toggled #header-menu {
            display: flex; 
            flex-direction: column;
            padding:0;
            justify-content: center;
            min-height:100%;
            background-color: $main-red;
            margin : 20px 0 0 0;
            z-index: 2;
            position:relative;

            li, li a  {
                color: #FFF;
                text-align: center;
                font-size: 44px;
                text-transform: uppercase;
                font-family: $main-font;
            }
        }
    }  
/*****************/
/* FOOTER */
/*****************/
.container-footer {
   
    .NM-footer {
            flex-direction: column;
            align-items: center;
            gap: 0px;
    
            #footer-menu {
                flex-direction: column;
                align-items: center;
    
                #menu-item-51 {
                    margin-right: 0px;
                    margin-bottom: 35px;
                }
            }
    
            span {
                margin-top: 35px;
            }
        }
    }


/*****************/
/* MODALE CONTACT*/
/*****************/

        /* The Modal */
    .modal {
        width: 286px;
        bottom: 20px;

    /* Modal Header */
        .modal-header {
            padding-top: 30px;
            position: relative;
        }
    
        /* Modal Content */
        .modal-content {
            
            #wpcf7-f54-o1 {
                width: 190px;

                .wpcf7-form {
                    width: 190px;
                    padding-top: 15px;

                    p,
                    label,
                    input,
                    textarea {
                        width: 190px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    input,
                    textarea {
                        margin-bottom: 14px;
                    }
                }
            }
        }
        
    }   
}


@media screen and (max-width: 390px) {

/*****************/
/* HEADER */
/*****************/
    
    #NM-header {
        
        #NM-nav-header {
                
            .menu_button {
                top: 55px;
                right: 10px;
            }
        }
    }
}

