.single-photo-main {
    padding: 38px 146px 0 146px;
    max-width:1440px;
    width:100%;
    height:calc(100vh - 80px);
    -webkit-animation: fade-in $animation-duration-medium ease-in-out;
        animation: fade-in $animation-duration-medium ease-in-out;

    .row-infos-photo-single {
        display: flex;
        gap: 20px;
        
        .colonne-infos-photo, .colonne-photo {
            width:50%;
            height:calc(100vh - 310px);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .colonne-infos-photo {
            border-bottom: 1px solid black;

            h2 {
                margin:0;
                line-height: 1;
            }
            
            p {
                display: block;
                margin:0;
            }

            h2, p {
                padding-bottom:20px;
            }
        }

        .colonne-photo {          

            #main_thumbnail {
                object-fit: cover;
                width:100%;
                height:100%;
            }
        }
    }

    .row-infos-photo-contact{
        min-height: 118px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
       
        .colonne-photo-contact, .photos-navigation {
            width:50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .colonne-photo-contact {
            margin:0;

            p {
                margin:0;
            }

            .myBtnContact {
                background-color: $second_grey;
                width:50%;
                height:50px;
                border:none;
                font-family: $main-font;
                border-radius: 2px;
                margin-right:10px;
            
                &:hover {
                    background-color: $main-black;
                    color: white;
                    transition: all 0.5s ease-out;
                    font-size: 16px;
                }
            }
        }
        
        .photos-navigation {
            height:80px;
            position:relative;
            padding-top:5px;

            .photo-prev, .photo-next {
                position: absolute;   
                bottom: -20px;
            }

            .photo-prev {
                right:65px;
            }

            .photo-next {
                right: 0;
            }

            .nav-thumbnails-prev, 
            .nav-thumbnails-next {
                position: absolute;
                top: 5px;
                right:0px; 

                img {
                    width: 80px;
                    height: 71px;
                }
            }

            .thumbnails_hide {
                display: none;
            }

            .thumbnails_visible {
                display: block;
            }
        }
    }
}

.aside-photo-comp{
    padding: 0px 146px 109px 146px;
    max-width: 1440px;
    -webkit-animation: fade-in $animation-duration-medium ease-in-out;
        animation: fade-in $animation-duration-medium ease-in-out;

    h3 {
        margin:0 0 52px 0;
    }

    .row-img-similaires {
        display: flex;
        justify-content: space-between;
        gap:30px;
        max-width: 1440px;

        .col-img-similaire {
            width:50%;
            height:500px;
   

            img {       
                object-fit: cover;
                width:100%;
                height:100%;
            }
        }
    }

    
}