.single-photo-main {
    padding: 38px 146px 0 146px;
    max-width:1440px;
    width:100%;
    height:calc(100vh - 80px);

    .row-infos-photo-single {
        display: flex;
        gap: 30px;
        
        .colonne-infos-photo, .colonne-photo {
            width:50%;
            height:calc(100vh - 310px);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .colonne-infos-photo {
            border-bottom: 1px solid black;
            
            p {
                display: block;
            }
        }

        .colonne-photo {          

            #main_thumbnail {
                object-fit: cover;
                width:100%;
                height:100%;
            }
        }
    }

    .row-infos-photo-contact{
        height: 118px;
        display: flex;
        justify-content: space-between;
       
        .colonne-photo-contact, .photos-navigation {
            width:50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .colonne-photo-contact {

            .myBtnContact {
                background-color: $second_grey;
                width:50%;
                height:50px;
                border:none;
                font-family: $main-font;
                border-radius: 2px;
                margin-right:10px;
            
                &:hover {
                    background-color: $main-black;
                    color: white;
                    transition: all 0.5s ease-out;
                    font-size: 16px;
                }
            }
        }
        
        .photos-navigation {
            height:80px;
            width:70px;
            position:relative;
            padding-top:5px;

            .photo-prev, .photo-next {
                position: absolute;   
                bottom: -10px;
            }

            .photo-prev {
                left:0;
            }

            .photo-next {
                right: 0;
            }

            .thumbnails_hide {
                display: none;
            }

            .thumbnails_visible {
                display: block;
            }
        }
    }
}