@charset "UTF-8";
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-family: "SpaceMonoBold";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-family: "SpaceMonoBoldItalic";
  font-weight: 700;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
  font-family: "SpaceMonoItalic";
  font-weight: 400;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-family: "SpaceMono";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html, body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

#NM-page {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

body, h1, h2, h3, h4, p, a, li {
  color: #000000;
}

a, li a, a:link, a:visited, a:focus, a:hover, a:active, a.nice-select.open, :-webkit-any-link, :-moz-any-link, :any-link {
  text-decoration: none !important;
}

h1, h2, h3, .description-photo {
  text-transform: uppercase;
}

h1 {
  font-size: 96px;
  font-family: "SpaceMonoBoldItalic";
}

h2 {
  font-size: 66px;
  font-family: "SpaceMonoItalic";
}

h3 {
  font-size: 18px;
  font-family: "SpaceMono";
}

button, .wpcf7-submit, .myBtnContact {
  cursor: pointer;
}

.btnhover:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 16px;
}

.description-photo {
  font-size: 14px;
  font-family: "SpaceMono";
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 46px;
  }
}
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

/*********************
KEYFRAMES
*********************/
/*********************
// Déclaration des variables SCSS
/*********************/
/*********************
/* Animation modale */
/*********************/
@-webkit-keyframes animateModale {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateModale {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
#NM-header {
  color: #000000;
  padding-top: 25px;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
  min-height: 80px;
}
#NM-header #NM-nav-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}
#NM-header #NM-nav-header #logo-header {
  width: 20%;
  display: flex;
  margin-left: 146px;
  -webkit-animation: blink 1s 1.5s both;
  animation: blink 1s 1.5s both;
  padding: 12px 0 12px 0;
}
#NM-header #NM-nav-header #logo-header img {
  width: 216px;
  height: 14px;
  margin: 0;
}
#NM-header #NM-nav-header .menu_button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 28px;
  height: 19px;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  display: none;
}
#NM-header #NM-nav-header .menu_button .menu_button_line {
  position: absolute;
  left: 0;
  width: 28px;
  height: 3px;
  background: #000000;
  border-radius: 0.2rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.top {
  top: 0;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.mid {
  top: 0.5rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.botm {
  bottom: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.top {
  transform: rotate(-45deg);
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.mid {
  opacity: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.botm {
  transform: translateY(-1rem) rotate(45deg);
}
#NM-header #NM-nav-header #header-menu {
  gap: 45px;
  display: flex;
  justify-content: end;
  margin: 0 146px 0 0;
}
#NM-header #NM-nav-header #header-menu .menu-item {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  font-family: "SpaceMono";
  position: relative;
  padding: 10px 0 0 14px;
}
#NM-header #NM-nav-header #header-menu .menu-item:hover {
  font-weight: bold;
}
#NM-header #NM-nav-header #header-menu .menu-item a {
  text-decoration: none;
}

/* The Modal */
.modal {
  display: none;
  margin: 0 auto;
  width: 600px;
  overflow: scroll;
  position: fixed;
  top: 117px;
  z-index: 3;
  /* Modal Header */
  /* Modal Body */
  /* Modal Content */
}
.modal .modal-header {
  padding-top: 30px;
  position: relative;
}
.modal .modal-header .background-contact {
  background-image: url("../assets/header/contact.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 106px;
}
.modal .modal-header .background-contact h2 {
  display: none;
}
.modal .modal-body {
  padding: 2px 16px;
}
.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  border: 5px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: animateModale 1s;
  animation: animateModale 1s;
  padding-bottom: 35px;
}
.modal .modal-content #wpcf7-f54-o1 {
  width: 263px;
  margin: 0 auto;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form {
  width: 263px;
  padding-top: 46px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form label {
  text-transform: uppercase;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form p,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form label,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
  width: 263px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form p {
  margin-bottom: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 0 6px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input {
  height: 40px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-submit {
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  text-align: center;
  border: none;
  height: 50px;
  margin-bottom: 0;
  font-family: "SpaceMono";
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-submit:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 16px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-spinner {
  height: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-spinner:before {
  height: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-response-output {
  margin: 0;
  color: #E00000;
  border: none;
  font-family: "Poppins";
  font-size: 14px;
  padding: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-not-valid-tip {
  color: #E00000;
  margin-top: -16px;
  margin-bottom: 26px;
}

.container-footer {
  padding: 7px 146px 30px 146px;
  width: 100%;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.container-footer .NM-footer {
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 1px solid black;
  height: 40px;
  padding-top: 24px;
  max-width: 1440px;
}
.container-footer .NM-footer #footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 85px;
}
.container-footer .NM-footer #footer-menu li {
  list-style: none;
  display: inline;
  font-family: "Poppins";
}
.container-footer .NM-footer #footer-menu li a {
  text-decoration: none;
  margin-bottom: 25px;
}
.container-footer .NM-footer #footer-menu li a:hover {
  font-weight: bold;
}

.main-accueil .banner {
  background-image: url("http://localhost:8888/nathalie-mota/wp-content/uploads/2022/03/nathalie-14-scaled-1.jpeg");
  max-width: 1440px;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.main-accueil .banner #stroke {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #FFF;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.main-accueil .container-form {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  padding: 80px 146px 39px 146px;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.main-accueil .container-form .form-catalogue {
  display: flex;
  font-family: "Poppins";
  gap: 20px;
}
.main-accueil .container-form .form-catalogue .col-form {
  width: 50%;
  display: flex;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form {
  position: relative;
  margin: 0;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .taxonomy-label {
  position: absolute;
  top: 25%;
  left: 16px;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select {
  width: 260px;
  height: 43px;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  padding-left: 10px;
  font-family: "Poppins";
  background-color: transparent;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .current {
  display: none;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list {
  width: 260px;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .first-option {
  font-style: italic;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .first-option::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: black;
  display: inline-block;
  margin-right: 5px;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .first-option::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: black;
  display: inline-block;
  margin-left: 5px;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .autre-option {
  padding-left: 33px;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .option.selected {
  background-color: #E00000 !important;
  color: white;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .option:hover {
  background-color: #FFD6D6;
}
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .first-option.selected::before,
.main-accueil .container-form .form-catalogue .col-form .col-select-form .nice-select .list .first-option.selected::after {
  background-color: white !important;
}
.main-accueil .container-form .form-catalogue .col-form-1 {
  justify-content: space-between;
}
.main-accueil .container-form .form-catalogue .col-2-form {
  justify-content: flex-end;
}
.main-accueil .catalogue-photos {
  padding: 0px 146px 20px 146px;
  margin: 0 auto !important;
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.main-accueil .catalogue-photos .col-img-catalogue {
  width: 50%;
  width: 560px;
  height: 560px;
  position: relative;
  margin: 0;
}
.main-accueil .catalogue-photos .col-img-catalogue img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-accueil .catalogue-photos .col-img-catalogue .display-front-hover {
  position: absolute;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  width: 560px;
  height: 560px;
  transition: opacity 0.7s;
}
.main-accueil .catalogue-photos .col-img-catalogue:hover .display-front-hover {
  opacity: 0.7;
}
.main-accueil .catalogue-photos .col-img-catalogue:hover .reference, .main-accueil .catalogue-photos .col-img-catalogue:hover .categorie, .main-accueil .catalogue-photos .col-img-catalogue:hover .fa-eye, .main-accueil .catalogue-photos .col-img-catalogue:hover .fa-expand {
  opacity: 1;
}
.main-accueil .catalogue-photos .col-img-catalogue .reference, .main-accueil .catalogue-photos .col-img-catalogue .categorie {
  position: absolute;
  bottom: 10px;
  color: white;
  font-family: "SpaceMono";
  opacity: 0;
  transition: opacity 0.7s;
}
.main-accueil .catalogue-photos .col-img-catalogue .reference {
  left: 16px;
}
.main-accueil .catalogue-photos .col-img-catalogue .categorie {
  right: 16px;
}
.main-accueil .catalogue-photos .col-img-catalogue .fa-eye {
  color: white;
  position: absolute;
  opacity: 0;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  font-size: 44px;
  transition: all 0.5s;
}
.main-accueil .catalogue-photos .col-img-catalogue .fa-eye:hover {
  font-size: 54px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
.main-accueil .load-lightbox-photo {
  width: 30px;
  height: 30px;
  border: none;
  top: 10px;
  right: 16px;
  position: absolute;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
}
.main-accueil .load-lightbox-photo:hover {
  font-size: 34px;
}
.main-accueil .fa-expand {
  top: 4px;
  right: 5px;
  color: white;
  position: absolute;
  opacity: 0;
  transition: all 0.7s;
}
.main-accueil .load-catalogue-photos {
  margin: 20px auto 60px;
  display: block;
  width: 272px;
  height: 50px;
  text-align: center;
  background-color: #D8D8D8;
  border-radius: 2px;
  font-family: "SpaceMono";
  border: none;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.main-accueil .load-catalogue-photos:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 16px;
}
.main-accueil .no-photo-message-1, .main-accueil .no-photo-message-2 {
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 30px;
}
.main-accueil .no-photo-message-2 {
  margin-bottom: 60px;
}

.page-template-default .main-index {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 146px;
  min-height: 80vh;
}
.page-template-default .main-index h1 {
  margin: 50px 0 50px 0;
}
.page-template-default .main-index p {
  margin-bottom: 30px;
}
.page-template-default .main-index h2 {
  margin: 60px 0 30px 0;
  line-height: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}
.lightbox .container-lightbox {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}
.lightbox .container-lightbox .container-elements {
  position: relative;
}
.lightbox .container-lightbox .container-elements .lightbox-container-image {
  width: 560px;
  height: 560px;
}
.lightbox .container-lightbox .container-elements .lightbox-container-image .lightbox-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.lightbox .container-lightbox .container-elements .lightbox-close,
.lightbox .container-lightbox .container-elements .lightbox-prev,
.lightbox .container-lightbox .container-elements .lightbox-next,
.lightbox .container-lightbox .container-elements .lightbox-reference,
.lightbox .container-lightbox .container-elements .lightbox-categorie {
  position: absolute;
  color: white;
}
.lightbox .container-lightbox .container-elements .lightbox-close, .lightbox .container-lightbox .container-elements .lightbox-prev, .lightbox .container-lightbox .container-elements .lightbox-next {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
  cursor: pointer;
}
.lightbox .container-lightbox .container-elements .lightbox-close {
  top: -100px;
  right: -35%;
}
.lightbox .container-lightbox .container-elements .lightbox-prev i, .lightbox .container-lightbox .container-elements .lightbox-next i, .lightbox .container-lightbox .container-elements .lightbox-close i {
  font-size: 24px;
  margin: 0 10px;
}
.lightbox .container-lightbox .container-elements .lightbox-prev {
  top: 50%;
  left: -35%;
}
.lightbox .container-lightbox .container-elements .lightbox-next {
  top: 50%;
  right: -35%;
}
.lightbox .container-lightbox .container-elements .lightbox-reference {
  bottom: -30px;
  left: 0%;
  font-family: "SpaceMono";
}
.lightbox .container-lightbox .container-elements .lightbox-categorie {
  bottom: -30px;
  right: 0%;
  font-family: "SpaceMono";
}

.single-photo-main {
  padding: 38px 146px 0 146px;
  max-width: 1440px;
  width: 100%;
  height: calc(100vh - 80px);
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.single-photo-main .row-infos-photo-single {
  display: flex;
  gap: 20px;
}
.single-photo-main .row-infos-photo-single .colonne-infos-photo, .single-photo-main .row-infos-photo-single .colonne-photo {
  width: 50%;
  height: calc(100vh - 310px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.single-photo-main .row-infos-photo-single .colonne-infos-photo {
  border-bottom: 1px solid black;
}
.single-photo-main .row-infos-photo-single .colonne-infos-photo h2 {
  margin: 0;
  line-height: 1;
}
.single-photo-main .row-infos-photo-single .colonne-infos-photo p {
  display: block;
  margin: 0;
}
.single-photo-main .row-infos-photo-single .colonne-infos-photo h2, .single-photo-main .row-infos-photo-single .colonne-infos-photo p {
  padding-bottom: 20px;
}
.single-photo-main .row-infos-photo-single .colonne-photo #main_thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.single-photo-main .row-infos-photo-contact {
  min-height: 118px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.single-photo-main .row-infos-photo-contact .colonne-photo-contact, .single-photo-main .row-infos-photo-contact .photos-navigation {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-photo-main .row-infos-photo-contact .colonne-photo-contact {
  margin: 0;
}
.single-photo-main .row-infos-photo-contact .colonne-photo-contact p {
  margin: 0;
}
.single-photo-main .row-infos-photo-contact .colonne-photo-contact .myBtnContact {
  background-color: #D8D8D8;
  width: 50%;
  height: 50px;
  border: none;
  font-family: "SpaceMono";
  border-radius: 2px;
  margin-right: 10px;
}
.single-photo-main .row-infos-photo-contact .colonne-photo-contact .myBtnContact:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 16px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation {
  height: 80px;
  position: relative;
  padding-top: 5px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .photo-prev, .single-photo-main .row-infos-photo-contact .photos-navigation .photo-next {
  position: absolute;
  bottom: -20px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .photo-prev {
  right: 65px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .photo-next {
  right: 0;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .nav-thumbnails-prev,
.single-photo-main .row-infos-photo-contact .photos-navigation .nav-thumbnails-next {
  position: absolute;
  top: 5px;
  right: 0px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .nav-thumbnails-prev img,
.single-photo-main .row-infos-photo-contact .photos-navigation .nav-thumbnails-next img {
  width: 80px;
  height: 71px;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .thumbnails_hide {
  display: none;
}
.single-photo-main .row-infos-photo-contact .photos-navigation .thumbnails_visible {
  display: block;
}

.aside-photo-comp {
  padding: 0px 146px 109px 146px;
  max-width: 1440px;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
.aside-photo-comp h3 {
  margin: 0 0 52px 0;
}
.aside-photo-comp .row-img-similaires {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1440px;
}
.aside-photo-comp .row-img-similaires .col-img-similaire {
  width: 50%;
  height: 500px;
}
.aside-photo-comp .row-img-similaires .col-img-similaire img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/***********************************/
/***********************************/
/* FORMAT 1024px MAX
/***********************************/
/***********************************/
@media screen and (max-width: 1024px) {
  /*****************/
  /* COMMUN */
  /*****************/
  h1 {
    line-height: 1;
  }
  h2 {
    font-size: 52px;
  }
  /*****************/
  /* FRONT-PAGE */
  /*****************/
  .main-accueil .container-form .form-catalogue {
    display: flex;
    font-family: "Poppins";
    gap: 20px;
  }
  .main-accueil .container-form .form-catalogue .col-form .col-select-form select {
    width: 170px;
  }
  .main-accueil .container-form .form-catalogue .col-form .col-select-form .taxonomy-label {
    left: 14px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue {
    width: 355px;
    height: 355px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue .display-front-hover {
    width: 355px;
    height: 355px;
  }
  /*****************/
  /* lightbox */
  /*****************/
  .lightbox .container-lightbox .container-elements .lightbox-close {
    top: -25px;
    right: -22%;
  }
  /*****************/
  /* modale */
  /*****************/
  .modal {
    height: 80vh;
  }
}
/***********************************/
/***********************************/
/* FORMAT TABLETTE 992px MAX
/***********************************/
/***********************************/
@media screen and (max-width: 992px) {
  /*****************/
  /* HEADER */
  /*****************/
  #NM-header #NM-nav-header {
    padding: 0 80px;
  }
  #NM-header #NM-nav-header #logo-header {
    width: 30%;
    margin: 0px;
  }
  #NM-header #NM-nav-header #header-menu {
    gap: 30px;
    margin: 0;
  }
  /*****************/
  /* FRONT-PAGE */
  /*****************/
  .main-accueil #stroke {
    text-align: center;
  }
  .main-accueil .container-form {
    padding: 80px 80px 39px 80px;
  }
  .main-accueil .catalogue-photos {
    padding: 0px 80px 40px 80px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue {
    width: 405px;
    height: 405px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue .display-front-hover {
    width: 405px;
    height: 405px;
  }
  /*****************/
  /* SINGLE-PHOTO */
  /*****************/
  .single-photo-main {
    padding: 38px 80px 0 80px;
  }
  .single-photo-main .row-infos-photo-contact .colonne-photo-contact .myBtnContact {
    width: 40%;
  }
  .aside-photo-comp {
    padding: 0px 80px 109px 80px;
  }
  /*****************/
  /* INDEX */
  /*****************/
  .page-template-default .main-index {
    padding: 0 80px;
  }
  /*****************/
  /* FOOTER */
  /*****************/
  .container-footer {
    padding: 7px 80px 30px 80px;
  }
}
/***********************************/
/***********************************/
/* FORMAT 768px MAX
/***********************************/
/***********************************/
@media screen and (max-width: 768px) {
  /*****************/
  /* HEADER */
  /*****************/
  #NM-header {
    padding-top: 20px;
  }
  #NM-header #NM-nav-header {
    display: block;
    min-width: 100%;
    padding: 0;
  }
  #NM-header #NM-nav-header #logo-header {
    width: 20%;
    display: flex;
    margin-left: 40px;
  }
  #NM-header #NM-nav-header .menu_button {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  #NM-header #NM-nav-header #header-menu {
    display: none;
  }
  #NM-header #NM-nav-header.toggled #header-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    min-height: 100vh;
    background-color: #E00000;
    margin: 20px 0 0 0;
    z-index: 2;
    position: relative;
  }
  #NM-header #NM-nav-header.toggled #header-menu li, #NM-header #NM-nav-header.toggled #header-menu li a {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    font-family: "SpaceMono";
  }
  /*****************/
  /* FRONT-PAGE */
  /*****************/
  .main-accueil .container-form {
    padding: 80px 40px 39px 40px;
  }
  .main-accueil .container-form .form-catalogue {
    flex-direction: column;
  }
  .main-accueil .container-form .form-catalogue .col-form {
    flex-direction: column;
    gap: 20px;
  }
  .main-accueil .container-form .form-catalogue .col-form .col-select-form {
    width: 100%;
    text-align: center;
  }
  .main-accueil .container-form .form-catalogue .col-form .col-select-form select {
    width: 270px;
  }
  .main-accueil .catalogue-photos {
    padding: 0px 0px 40px 0px;
    width: 600px;
    justify-content: center;
  }
  .main-accueil .catalogue-photos .col-img-catalogue {
    width: 600px;
    height: 600px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue .display-front-hover {
    width: 600px;
    height: 600px;
  }
  /*****************/
  /* LIGHTBOX */
  /*****************/
  .lightbox .container-lightbox .container-elements .lightbox-close {
    top: -40px;
    right: -10%;
  }
  .lightbox .container-lightbox .container-elements .lightbox-next {
    right: 0;
  }
  .lightbox .container-lightbox .container-elements .lightbox-prev {
    left: 0;
  }
  /*****************/
  /* FOOTER */
  /*****************/
  .container-footer .NM-footer {
    padding-top: 0px;
  }
  .container-footer .NM-footer #footer-menu {
    flex-direction: column;
    align-items: center;
    padding: 43px 0 30px 0;
    gap: 30px;
  }
  .container-footer .NM-footer span {
    margin-top: 35px;
  }
  /*****************/
  /* MODALE CONTACT*/
  /*****************/
  .modal {
    width: 286px;
    bottom: 20px;
    /* Modal Header */
    /* Modal Content */
  }
  .modal .modal-header {
    padding-top: 30px;
    position: relative;
  }
  .modal .modal-content #wpcf7-f54-o1 {
    width: 190px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form {
    width: 190px;
    padding-top: 15px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form p,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form label,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
    width: 190px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form p {
    margin-bottom: 0;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
    margin-bottom: 14px;
  }
}
/***********************************/
/***********************************/
/* FORMAT PETIT TELEPHONE 390px MAX
/***********************************/
/***********************************/
@media screen and (max-width: 390px) {
  /*****************/
  /* HEADER */
  /*****************/
  #NM-header {
    min-height: 72px;
    padding-top: 10px;
  }
  #NM-header #NM-nav-header .menu_button {
    top: 30px;
    right: 30px;
  }
  /*****************/
  /* FRONT_PAGE*/
  /*****************/
  .main-accueil .container-form .form-catalogue .col-form {
    width: 100%;
  }
  .main-accueil .catalogue-photos {
    max-width: 360px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue {
    width: 300px;
    height: 300px;
  }
  .main-accueil .catalogue-photos .col-img-catalogue .display-front-hover {
    width: 300px;
    height: 300px;
  }
  /*****************/
  /* LIGHTBOX */
  /*****************/
  .lightbox .container-lightbox .container-elements .lightbox-container-image {
    width: 300px;
    height: 300px;
  }
  .lightbox .container-lightbox .container-elements .lightbox-close {
    top: -100px;
    right: -3%;
  }
  .lightbox .container-lightbox .container-elements .lightbox-prev, .lightbox .container-lightbox .container-elements .lightbox-next {
    top: -25px;
  }
  .lightbox .container-lightbox .container-elements .lightbox-prev {
    left: -10px;
  }
  .lightbox .container-lightbox .container-elements .lightbox-next {
    right: -10px;
  }
  /*****************/
  /* SINGLE-PHOTO */
  /*****************/
  .single-photo-main {
    padding: 20px 0px 0 0px;
    margin: 0 auto;
    min-height: calc(100vh + 72px);
  }
  .single-photo-main .row-infos-photo-single {
    flex-direction: column-reverse;
    margin: 0 56px 44px 56px;
    padding: 0 0 40px 0;
  }
  .single-photo-main .row-infos-photo-single .colonne-infos-photo,
  .single-photo-main .row-infos-photo-single .colonne-photo {
    width: 100%;
    justify-content: flex-start;
    height: calc(50vh - 72px);
    align-items: stretch;
  }
  .single-photo-main .row-infos-photo-single .colonne-infos-photo {
    border: none;
  }
  .single-photo-main .row-infos-photo-contact {
    margin: 80px 56px 0 56px;
  }
  .single-photo-main .row-infos-photo-contact .colonne-photo-contact {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid black;
    padding-top: 14px;
  }
  .single-photo-main .row-infos-photo-contact .colonne-photo-contact p {
    width: 100%;
    margin-bottom: 14px;
  }
  .single-photo-main .row-infos-photo-contact .colonne-photo-contact .myBtnContact {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .single-photo-main .row-infos-photo-contact .photos-navigation {
    display: none;
  }
  .aside-photo-comp {
    margin: 100px 29px 0px 29px;
    padding: 0 0 25px 0;
  }
  .aside-photo-comp h3 {
    text-align: center;
    margin: 0 0 20px 0;
  }
  .aside-photo-comp .row-img-similaires {
    flex-direction: column;
  }
  .aside-photo-comp .row-img-similaires .col-img-similaire {
    width: 300px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
