@charset "UTF-8";
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-family: "SpaceMonoBold";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-family: "SpaceMonoBoldItalic";
  font-weight: 700;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
  font-family: "SpaceMonoItalic";
  font-weight: 400;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-family: "SpaceMono";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html, body, #NM-page {
  height: 100%;
}

#NM-page {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

body, h1, h2, h3, h4, p, a, li {
  color: #000000;
}

a, li a, a:link, a:visited, a:focus, a:hover, a:active, :-webkit-any-link, :-moz-any-link, :any-link {
  text-decoration: none !important;
}

h1, h2, h3, .description-photo {
  text-transform: uppercase;
}

h1 {
  font-size: 96px;
  font-family: "SpaceMonoBoldItalic";
}

h2 {
  font-size: 66px;
  font-family: "SpaceMonoItalic";
}

h3 {
  font-size: 18px;
  font-family: "SpaceMono";
}

.description-photo {
  font-size: 14px;
  font-family: "SpaceMono";
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 46px;
  }
}
/*********************
KEYFRAMES
*********************/
/*********************
// Déclaration des variables SCSS
/*********************/
/*********************
/* Animation modale */
/*********************/
@-webkit-keyframes animateModale {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateModale {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
#NM-header {
  height: 100%;
  color: #000000;
  padding-top: 35px;
  -webkit-animation: fade-in 2s ease-in-out;
  animation: fade-in 2s ease-in-out;
}
#NM-header #NM-nav-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#NM-header #NM-nav-header #logo-header {
  width: 20%;
  display: flex;
  margin-left: 146px;
  -webkit-animation: blink 1s 1.5s both;
  animation: blink 1s 1.5s both;
}
#NM-header #NM-nav-header #logo-header img {
  width: 216px;
  height: 14px;
}
#NM-header #NM-nav-header .menu_button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 28px;
  height: 19px;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  display: none;
}
#NM-header #NM-nav-header .menu_button .menu_button_line {
  position: absolute;
  left: 0;
  width: 28px;
  height: 3px;
  background: #000000;
  border-radius: 0.2rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.top {
  top: 0;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.mid {
  top: 0.5rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.botm {
  bottom: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.top {
  transform: rotate(-45deg);
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.mid {
  opacity: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.botm {
  transform: translateY(-1rem) rotate(45deg);
}
#NM-header #NM-nav-header #header-menu {
  gap: 45px;
  display: flex;
  justify-content: end;
  margin: 0 146px 0 0;
}
#NM-header #NM-nav-header #header-menu .menu-item {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  font-family: "SpaceMono";
}
#NM-header #NM-nav-header #header-menu .menu-item a {
  text-decoration: none;
}

/* The Modal */
.modal {
  display: none;
  margin: 0 auto;
  width: 600px;
  max-height: 100%;
  overflow: scroll;
  position: fixed;
  top: 100px;
  z-index: 3;
  /* Modal Header */
  /* Modal Body */
  /* Modal Content */
}
.modal .modal-header {
  padding-top: 30px;
  position: relative;
}
.modal .modal-header .close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 22px;
}
.modal .modal-header .background-contact {
  background-image: url("../assets/header/contact.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 106px;
}
.modal .modal-header .background-contact h2 {
  display: none;
}
.modal .modal-body {
  padding: 2px 16px;
}
.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  border: 5px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: animateModale 1s;
  animation: animateModale 1s;
  padding-bottom: 35px;
}
.modal .modal-content #wpcf7-f54-o1 {
  width: 263px;
  margin: 0 auto;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form {
  width: 263px;
  padding-top: 46px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form label {
  text-transform: uppercase;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form p,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form label,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
  width: 263px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form p {
  margin-bottom: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  margin-bottom: 24px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form input {
  height: 40px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-submit {
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  text-align: center;
  border: none;
  height: 50px;
  margin-bottom: 0;
  font-family: "SpaceMono";
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-submit:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 16px;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-spinner {
  height: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-spinner:before {
  height: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-response-output {
  margin: 0;
  color: #E00000;
  border: none;
  font-family: "Poppins";
  font-size: 14px;
  padding: 0;
}
.modal .modal-content #wpcf7-f54-o1 .wpcf7-form .wpcf7-not-valid-tip {
  color: #E00000;
  margin-top: -16px;
  margin-bottom: 26px;
}

.container-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.container-footer .NM-footer {
  display: flex;
  justify-content: center;
  position: relative;
}
.container-footer .NM-footer #footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 85px;
}
.container-footer .NM-footer #footer-menu li {
  list-style: none;
  display: inline;
  font-family: "Poppins";
}
.container-footer .NM-footer #footer-menu li a {
  text-decoration: none;
  margin-bottom: 25px;
}

/*****************/
/* TABLETTE
/*****************/
@media screen and (max-width: 992px) {
  #NM-header {
    padding-top: 50px;
  }
  #NM-header #NM-nav-header #logo-header {
    margin-left: 80px;
  }
  #NM-header #NM-nav-header #header-menu {
    margin: 0 80px 0 0;
  }
}
@media screen and (max-width: 768px) {
  /*****************/
  /* HEADER */
  /*****************/
  #NM-header #NM-nav-header {
    display: block;
    height: 100%;
  }
  #NM-header #NM-nav-header #logo-header {
    width: 100%;
    display: block;
    margin: 10px 0 0 40px;
  }
  #NM-header #NM-nav-header .menu_button {
    display: block;
    position: absolute;
    top: 45px;
    right: 40px;
  }
  #NM-header #NM-nav-header #header-menu {
    display: none;
  }
  #NM-header #NM-nav-header.toggled #header-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    min-height: 100%;
    background-color: #E00000;
    margin: 20px 0 0 0;
    z-index: 2;
    position: relative;
  }
  #NM-header #NM-nav-header.toggled #header-menu li, #NM-header #NM-nav-header.toggled #header-menu li a {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    font-family: "SpaceMono";
  }
  /*****************/
  /* FOOTER */
  /*****************/
  .container-footer .NM-footer {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .container-footer .NM-footer #footer-menu {
    flex-direction: column;
    align-items: center;
  }
  .container-footer .NM-footer #footer-menu #menu-item-51 {
    margin-right: 0px;
    margin-bottom: 35px;
  }
  .container-footer .NM-footer span {
    margin-top: 35px;
  }
  /*****************/
  /* MODALE CONTACT*/
  /*****************/
  /* The Modal */
  .modal {
    width: 286px;
    bottom: 20px;
    /* Modal Header */
    /* Modal Content */
  }
  .modal .modal-header {
    padding-top: 30px;
    position: relative;
  }
  .modal .modal-header .close {
    top: -35px;
    right: 10px;
    font-size: 26px;
  }
  .modal .modal-content #wpcf7-f54-o1 {
    width: 190px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form {
    width: 190px;
    padding-top: 15px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form p,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form label,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
    width: 190px;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form p {
    margin-bottom: 0;
  }
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form input,
  .modal .modal-content #wpcf7-f54-o1 .wpcf7-form textarea {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 390px) {
  /*****************/
  /* HEADER */
  /*****************/
  #NM-header #NM-nav-header .menu_button {
    top: 55px;
    right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
