@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-family: "SpaceMonoBold";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-family: "SpaceMonoBoldItalic";
  font-weight: 700;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
  font-family: "SpaceMonoItalic";
  font-weight: 400;
  font-style: Italic;
}
@font-face {
  src: url("../fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-family: "SpaceMono";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #NM-page {
  height: calc(100% - 26px);
}

#NM-page {
  max-width: 1440px;
  margin: 0 auto;
}

body, h1, h2, h3, h4, p, a, li {
  color: #000000;
}

a, li a, a:link, a:visited, a:focus, a:hover, a:active, :-webkit-any-link, :-moz-any-link, :any-link {
  text-decoration: none !important;
}

h1, h2, h3, .description-photo {
  text-transform: uppercase;
}

h1 {
  font-size: 96px;
  font-family: "SpaceMonoBoldItalic";
}

h2 {
  font-size: 66px;
  font-family: "SpaceMonoItalic";
}

h3 {
  font-size: 18px;
  font-family: "SpaceMono";
}

.description-photo {
  font-size: 14px;
  font-family: "SpaceMono";
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 46px;
  }
}
#NM-header {
  height: 100%;
  color: #000000;
  padding-top: 35px;
}
#NM-header #NM-nav-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#NM-header #NM-nav-header #logo-header {
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: 146px;
}
#NM-header #NM-nav-header #logo-header img {
  width: 216px;
  height: 14px;
}
#NM-header #NM-nav-header .menu_button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 28px;
  height: 19px;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  display: none;
}
#NM-header #NM-nav-header .menu_button .menu_button_line {
  position: absolute;
  left: 0;
  width: 28px;
  height: 3px;
  background: #000000;
  border-radius: 0.2rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.top {
  top: 0;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.mid {
  top: 0.5rem;
}
#NM-header #NM-nav-header .menu_button .menu_button_line.botm {
  bottom: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.top {
  transform: rotate(-45deg);
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.mid {
  opacity: 0;
}
#NM-header #NM-nav-header .menu_button[aria-expanded=true] .menu_button_line.botm {
  transform: translateY(-1rem) rotate(45deg);
}
#NM-header #NM-nav-header #header-menu {
  gap: 45px;
  display: flex;
  justify-content: end;
  margin-right: 146px;
}
#NM-header #NM-nav-header #header-menu li {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}
#NM-header #NM-nav-header #header-menu li a {
  text-decoration: none;
  font-family: "SpaceMono";
}

.NM-footer {
  display: flex;
  justify-content: center;
  gap: 85px;
}
.NM-footer #footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.NM-footer #footer-menu li {
  list-style: none;
  display: inline;
  font-family: "Poppins";
}
.NM-footer #footer-menu li a {
  text-decoration: none;
  margin-bottom: 25px;
}
.NM-footer #footer-menu #menu-item-51 {
  margin-right: 85px;
}
.NM-footer span {
  font-family: "Poppins";
  display: flex;
  margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
  #NM-header #NM-nav-header {
    display: block;
    height: 100%;
  }
  #NM-header #NM-nav-header #logo-header {
    width: 100%;
    display: block;
    margin: 10px 0 0 40px;
  }
  #NM-header #NM-nav-header .menu_button {
    display: block;
    position: absolute;
    top: 45px;
    right: 40px;
  }
  #NM-header #NM-nav-header #header-menu {
    display: none;
  }
  #NM-header #NM-nav-header.toggled #header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    background-color: #E00000;
    margin-top: 20px;
    z-index: 2;
    position: relative;
  }
  #NM-header #NM-nav-header.toggled #header-menu li a {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    font-family: "SpaceMono";
  }
}

/*# sourceMappingURL=style.css.map */
